{% extends 'pages/base.html' %}

{% block content %}
    {% comment %} <p><a href="{% url 'greened_blog:catlog' catlog.id %}"> {{ catlog }} </a></p> {% endcomment %}
    <p>Add a new tag:</p>

    <form action="{% url 'greened_blog:new_article' catlog.id %}" method='post'>
        {% csrf_token %}
        <p>title</p>
        {{ form.header }}
        <p>content</p>
        {% comment %} x想要用cheditor 必须要有这段代码 {% endcomment %}
        {{ form.media }}
        {{ form.body }}
        <button name='submit'>add article</button>
    </form>
{% endblock content %}